<section>
    <div class="login-container">
        <form class="login-form"
        [formGroup]="loginForm"
        (submit)="OnLogin()"
        >
          <h1 class=" mb-4 text-xl font-bold leading-none tracking-tight text-gray-900  dark:text-white">Welcome Back</h1>
          <p>Please login to your account</p>
          <div class="input-group">
            <input type="text" id="username" name="username" placeholder="Username"  required formControlName = "Name" autocomplete="off">
            <span class="text-red-600 font-thin" [hidden]="loginForm.valid">Inviled Username or Password</span>
          </div>
          <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Password" required formControlName = "Password" autocomplete="off">
            <span class="text-red-600 font-thin" [hidden]="loginForm.valid">Inviled Username or Password</span>
            
          </div>
          <button type="submit" [disabled]="!loginForm.valid">Login</button>
          <a routerLink="/register">register</a>
        </form>
    </div>
</section>