.profile-box {
    transform: translate(-50%, -25%);
    height: 60%;
    width: 100%;
}

.input-group {
    margin-bottom: 10px;
    width: 100%;
}

.input-group input {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}